**/.vscode
*.exe
*.o
*.txt
!CMakeLists.txt
/2 užduotis.sln
**/.vs
**/Debug
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
/x64/Release
**/build
/Students/x64/Release
/Students/Students
/Vector-2
/Students/Release
