**/.vscode
*.exe
*.o
*.txt
!CMakeLists.txt
/2 užduotis.sln
**/.vs
**/Debug
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
/Vector-2/x64/Release
/x64/Release
/Vector/x64/Release
/List-2/x64/Release
/List/x64/Release
/Deque-2/x64/Release
/Deque/x64/Release
**/build
Deque/Deque
Deque-2/Deque-2
List-2/List-2
Vector-2/Vector-2
